<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Map 应用</h1>

<body>
{#<div>#}
{#    <table border="1" cellpadding="15">#}
{#        <thead>#}
{#        <tr>#}
{#            <th width="10%"> id </th>#}
{##}
{#        </tr>#}
{#        </thead>#}
{##}
{#            {% for  shop in shops %}#}
{#                <tr>#}
{#                    <td><b>{{ shop.id }}</b></td>#}
{##}
{#                </tr>#}
{#            {% endfor %}#}
{##}
{##}
{#    </table>#}
{#</div>#}
</body>


</body>
</html>