<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app" style="text-align: left">


    <h1>订阅数据</h1>
    <div style="text-align: left" >
        <el-table :data="tableData" border stripe v-show="isShowNewLayout">
            <el-table-column prop="id" label="id" width="100"></el-table-column>
            <el-table-column prop="pid" label="订阅 ID" width="100"></el-table-column>
            <el-table-column prop="name" label="订阅名称" width="150"></el-table-column>
            <el-table-column prop="url" label="订阅地址"></el-table-column>
            <el-table-column prop="des" label="订阅信息"></el-table-column>
            <el-table-column prop="new_number" label="当前最新集数"></el-table-column>
        </el-table>
    </div>


    <table border="1" cellpadding="15" v-show="!isShowNewLayout">
        <thead>
        <tr>
            <th width="10%"> id</th>
            <th width="20%">订阅 ID 信息</th>
            <th width="20%">订阅名称</th>
            <th width="20%">订阅地址</th>
            <th width="20%">订阅信息</th>
            <th width="10%">当前最新集数</th>
        </tr>
        </thead>

        {% for  sub in subs %}
            <tr>
                <td><b>{{ sub.id }}</b></td>
                <td><b>{{ sub.pid }}</b></td>
                <td><b>{{ sub.name }}</b></td>
                <td><b>{{ sub.url }}</b></td>
                <td>{{ sub.des }}</td>
                <td>{{ sub.new_number }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>


<script>
    new Vue({
        el: "#app",
        name: 'ShowDetail',
        data() {



            var instance = axios.create({
                baseURL: 'https://www.zkteam.cc/',
                timeout: 10000,
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                }
            });

            var that = this;

            var params = new URLSearchParams();
            params.append('pageCount', '100');

            {#instance.get('http://127.0.0.1:8000/Subscribe/jsonShow')#}
            {#instance.post('https://www.zkteam.cc/Subscribe/jsonShow', params)#}
            instance.get('https://www.zkteam.cc/Subscribe/jsonShow')
                .then(function (response) {
                    console.log(response.data);

                    var objs = response.data;
                    var code = objs['code'];
                    var message = objs['message'];
                    var resultJson = objs['result'];

                    {#that.tableData.addAll(tableData)#}

                    that.tableData = resultJson
                    console.log(that.tableData)


                })
                .catch(function (error) {
                    console.log(error);
                });

            return {
                isShowNewLayout: true,
                tableData: [{
                    id: '000',
                    pid: '000',
                    name: '默认数据',
                    url: '',
                    des: '默认数据'
                }]
            };
        },
    });


</script>
</html>