{% extends "base.html" %}

{% block title %}
{#{{  }}#}
    DouYin
{% endblock %}

{% block content %}
展示 DouYin 信息

<body>
<div>
    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="30%">名字：</th>
            <th width="60%">图片</th>
        </tr>
        </thead>

            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td><b>{{ project.pic }}</b></td>
                </tr>
            {% endfor %}


    </table>
</div>
</body>


{% endblock %}

{% block sidebar %}
{% endblock %}