<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绝地求生</title>
</head>
<body>
<h1>展示所有 绝地求生 的数据</h1>

<body>
<div>
    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th width="10%">jid</th>
            <th width="10%">categoryId</th>
            <th width="20%">picUrl</th>
            <th width="20%">artifactName</th>
            <th width="20%">artifactDate</th>
            <th width="20%">artifactSourceUrl</th>
        </tr>
        </thead>

            {% for line in projects %}
                <tr>
                    <td>{{ line.jid }}</td>
                    <td><b>{{ line.categoryId }}</b></td>
                    <td>{{ line.picUrl }}</td>
                    <td>{{ line.artifactName }}</td>
                    <td>{{ line.artifactDate }}</td>
                    <td>{{ line.artifactSourceUrl }}</td>
                </tr>
            {% endfor %}


    </table>
</div>
</body>


</body>
</html>