<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>绝地求生/详情</title>

    <style>
        span {
            display: block;
            width: 400px;
            float: left;
            text-a;
            text-align: center
        }
    </style>
</head>
<body>

<div style="
    border-top-width: 3px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 150px;">

    {{ detail.artifactContent|safe }}

</div>

</body>
</html>

