<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绝地求生</title>
</head>
<body>
<h1>展示所有 绝地求生 的数据</h1>

<body>
<div>
    <table border="1" cellpadding="15">
        <thead>
        <tr>
            <th width="3%">jid</th>
            <th width="7%">名字</th>
            <th width="20%">文章地址</th>
            <th width="70%">图片地址</th>
        </tr>
        </thead>

            {% for line in projects %}
                <tr>
                    <td>{{ line.jid }}</td>
                    <td><b>{{ line.name }}</b></td>
                    <td>{{ line.url }}</td>
                    <td>{{ line.picUrl }}</td>
                </tr>
            {% endfor %}


    </table>
</div>
</body>


</body>
</html>